{# Template Parts #}
{% extends "base.html.twig" %}

{# Document #}
{% block head_title %}{{ title('testing_model_list_title'|trans) }}{% endblock %}

{# Content Title #}
{% block content_head %}
    <span class="text">{{ 'testing_model_list_title'|trans }}</span>
    <span class="desc">{{ 'testing_model_list_desc'|trans }}</span>
{% endblock %}

{# Content Body #}
{% block content_body %}
    <!-- Action Button -->
    <div id="actions">
        <div class="btn-group">
            <a class="btn btn-primary" href="{{ path('admin_model_build') }}" data-tooltip title="{{ 'build'|trans }}"><i class="material-icons">build</i></a>
            <a class="btn btn-secondary" href="{{ path('admin_model_import') }}" data-tooltip title="{{ 'import'|trans }}"><i class="material-icons">publish</i></a>
        </div>
    </div>

    <!-- Table List -->
    <form id="pageForm" method="post">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="wid-30">{{ knp_pagination_sortable(models, 'model_label'|trans, 'm.label') }}</th>
                        <th class="wid-20">{{ 'model_tags'|trans }}</th>
                        <th class="wid-10">{{ 'version'|trans }}</th>
                        <th class="wid-15">{{ 'created_at'|trans }}</th>
                        <th class="wid-15">{{ 'updated_at'|trans }}</th>
                        <th class="process"></th>
                    </tr>
                </thead>

                <tbody>
                {% for model in models %}
                    <tr>
                        <td class="wid-30"><a href="{{ path('admin_model_view', { 'model': model.id }) }}">{{ model.label }}</a></td>
                        <td class="wid-20">{{ model.tags|join(', ') }}</td>
                        <td class="wid-15">{{ model.createdAt|date("Y-m-d H:i:s") }}</td>
                        <td class="wid-15">{{ model.updatedAt|date("Y-m-d H:i:s") }}</td>
                        <td class="process">
                            <div class="floating-menu">
                                <a><i class="material-icons">more_horiz</i></a>
                                {{ pd_menu_render('App\\Menu\\Action\\Model', {'model': model}) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>

    <!-- Pagination -->
    {{ knp_pagination_render(models) }}
{% endblock %}
