{# Template Parts #}
{% extends "admin/layout/base.html.twig" %}

{# Document #}
{% block head_title %}{{ title('testing.bug_list_title'|trans) }}{% endblock %}

{# Content Title #}
{% block content_head %}
    <span class="text">{{ 'testing.bug_list_title'|trans }}</span>
    <span class="desc">{{ 'testing.bug_list_desc'|trans }}</span>
{% endblock %}

{# Content Body #}
{% block content_body %}
    <!-- Table List -->
    <form id="pageForm" method="post">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="wid-20">{{ knp_pagination_sortable(bugs, 'bug_title'|trans, 'b.title') }}</th>
                        <th class="wid-10">{{ 'bug_model'|trans }}</th>
                        <th class="wid-10">{{ 'bug_task'|trans }}</th>
                        <th class="wid-20">{{ 'message'|trans }}</th>
                        <th class="wid-10">{{ 'progress'|trans }}</th>
                        <th class="wid-10">{{ 'status'|trans }}</th>
                        <th class="process"></th>
                    </tr>
                </thead>

                <tbody>
                {% for bug in bugs %}
                    <tr>
                        <td class="wid-20"><a href="{{ path('testing.bug_view', { 'bug': bug.id }) }}">{{ bug.title ?: 'NO TITLE' }}</a></td>
                        <td class="wid-10">
                            {% if bug.task.modelRevision.model is not null %}
                                <a href="{{ path('testing.model_view', { 'model': bug.task.modelRevision.model.id }) }}">
                                    {{ bug.task.modelRevision.model.label }}
                                    {% if bug.task.modelRevision.id is not same as(bug.task.modelRevision.model.activeRevision.id) %}
                                        <span class="badge badge-warning">{{ 'outdated'|trans }}</span>
                                    {% endif %}
                                </a>
                            {% else %}
                                <span class="badge badge-danger">{{ 'deleted'|trans }}</span>
                            {% endif %}
                        </td>
                        <td class="wid-10"><a href="{{ path('testing.task_view', { 'task': bug.task.id }) }}">{{ bug.task.title }}</a></td>
                        <td class="wid-20">{{ bug.message }}</td>
                        <td class="wid-10">{{ ((bug.progress.total > 0) ? bug.progress.processed / bug.progress.total : 0) |format_number(style='percent') }}</td>
                        <td class="wid-10">{{ (bug.closed ? 'bug_closed' : 'bug_open')|trans }} | {{ (bug.reducing ? 'bug_reducing' : 'bug_stopped')|trans }}</td>
                        <td class="process">
                            <div class="floating-menu">
                                <a><i class="material-icons">more_horiz</i></a>
                                {{ pd_menu_render('App\\Menu\\Action\\Bug', {'bug': bug}) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>

    <!-- Pagination -->
    {{ knp_pagination_render(bugs) }}
{% endblock %}
