{# Template Parts #}
{% extends "admin/layout/base.html.twig" %}
{% block head_title %}{{ title('testing.task_list_title'|trans) }}{% endblock %}
{% block content_title %}
    <i class="fas fa-tasks"></i>{{ 'testing.task_list_title'|trans }}

    {% if is_granted('ROLE_TASK_CREATE') %}
        <a @click.prevent="$refs.former.get('{{ path('testing.task_create') }}', '{{ 'testing.task_create_title'|trans }}', 'append')" class="ms-3 clear-line-height btn btn-sm btn-primary"><i class="fas fa-plus"></i>{{ 'testing.task_create_desc'|trans }}</a>
    {% endif %}
{% endblock %}

{# Content Body #}
{% block content_body %}
    <datatable
        data-api="{{ url('testing.task_list') }}"
        data-column="{{ table.columnsJson|url_encode }}"
        data-sort-api="{{ url('admin.data_table') }}"
        data-sort-table="{{ table.name }}"
        sort-field="u.id"
        :exporter="true"
    >
        <template v-slot:actions="{item, index, remove}">
            {% if is_granted('ROLE_TASK_RUN') %}
                <li><a class="dropdown-item" v-confirm="'warning'" data-msg="{{ 'confirm.approve'|trans }}"
                       data-yes="{{ 'button.yes'|trans }}" data-no="{{ 'button.cancel'|trans }}"
                       @confirmed="run(item)"
                       v-if="item.running">
                        <i class="far fa-check-circle"></i>
                        {{ 'testing.run'|trans }}</a></li>
            {% endif %}

            {% if is_granted('ROLE_TASK_EDIT') %}
                <li><a class="dropdown-item"
                       :href="route('{{ route('testing.task_edit') }}', {'{task}': item.id})"><i
                            class="fas fa-user-edit"></i>{{ 'button.edit'|trans }}</a></li>
            {% endif %}

            {% if is_granted('ROLE_TASK_DELETE') %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-danger" v-confirm="'danger'" data-msg="{{ 'confirm.delete'|trans }}"
                       data-yes="{{ 'button.yes'|trans }}" data-no="{{ 'button.cancel'|trans }}"
                       @confirmed="del(item, index, remove)"><i class="fas fa-trash"></i>{{ 'button.delete'|trans }}</a>
                </li>
            {% endif %}

        </template>
    </datatable>

    <script data-type="vue">
        window.vueApp.push({
            methods: {
                run(item) {
                    this.$root.http.post(this.route('{{ route('testing.task_run') }}', {'{task}': item.id})).then(function (resp) {
                        item.running = resp.data.running;
                    })
                },
                del(item, index, remove) {
                    this.$root.http.delete(this.route('{{ route('testing.task_delete') }}', {'{task}': item.id})).then(function (resp) {
                        remove(index);
                    })
                }
            }
        })
    </script>
{% endblock %}
