{# Template Parts #}
{% extends "admin/layout/base.html.twig" %}

{# Document #}
{% block head_title %}{{ title('testing.task_list_title'|trans) }}{% endblock %}

{# Content Title #}
{% block content_head %}
    <span class="text">{{ 'testing.task_list_title'|trans }}</span>
    <span class="desc">{{ 'testing.task_list_desc'|trans }}</span>
{% endblock %}

{# Content Body #}
{% block content_body %}
    <!-- Action Button -->
    <div id="actions">
        <div class="btn-group">
            <a class="btn btn-primary" href="{{ path('testing.task_create') }}" data-tooltip title="{{ 'add_new'|trans }}"><i class="material-icons">add</i></a>
        </div>
    </div>

    <!-- Table List -->
    <form id="pageForm" method="post">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="wid-20">{{ knp_pagination_sortable(tasks, 'testing.task_title'|trans, 't.title') }}</th>
                        <th class="wid-20">{{ 'testing.task_model'|trans }}</th>
                        <th class="wid-10">{{ 'testing.status'|trans }}</th>
                        <th class="wid-10">{{ 'testing.bugs'|trans }}</th>
                        <th class="wid-10">{{ 'testing.created_at'|trans }}</th>
                        <th class="wid-10">{{ 'testing.updated_at'|trans }}</th>
                        <th class="process"></th>
                    </tr>
                </thead>

                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td class="wid-20"><a href="{{ path('testing.task_view', { 'task': task.id }) }}">{{ task.title }}</a></td>
                        <td class="wid-20">
                            {% if task.modelRevision.model is not null %}
                                <a href="{{ path('testing.model_view', { 'model': task.modelRevision.model.id }) }}">
                                    {{ task.modelRevision.model.label }}
                                    {% if task.modelRevision.id is not same as(task.modelRevision.model.activeRevision.id) %}
                                        <span class="badge badge-warning">{{ 'testing.outdated'|trans }}</span>
                                    {% endif %}
                                </a>
                            {% else %}
                                <span class="badge badge-danger">{{ 'testing.deleted'|trans }}</span>
                            {% endif %}
                        </td>
                        <td class="wid-10">{{ (task.running ? 'task_running' : 'task_stopped')|trans }}</td>
                        <td class="wid-10">{{ task.bugs|length }}</td>
                        <td class="wid-10">{{ task.createdAt|date("Y-m-d") }}</td>
                        <td class="wid-10">{{ task.updatedAt|date("Y-m-d") }}</td>
                        <td class="process">
                            <div class="floating-menu">
                                <a><i class="material-icons">more_horiz</i></a>
                                {{ pd_menu_render('App\\Menu\\Action\\Task', {'task': task}) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>

    <!-- Pagination -->
    {{ knp_pagination_render(tasks) }}
{% endblock %}
