{# Template Parts #}
{% extends "admin/layout/base.html.twig" %}

{# Document #}
{% block head_title %}{{ title('testing.model_view_title'|trans) }}{% endblock %}

{# Content Title #}
{% block content_head %}
    <span class="text">{{ 'testing.model_view_title'|trans }}</span>
    <span class="desc">{{ 'testing.model_view_desc'|trans }}</span>
{% endblock %}

{# Content Body #}
{% block content_body %}
    <dl class="row">
        <dt class="col-sm-3">{{ 'model_label'|trans }}</dt>
        <dd class="col-sm-9">{{ model.label }}</dd>

        <dt class="col-sm-3">{{ 'model_tags'|trans }}</dt>
        <dd class="col-sm-9">{{ model.tags|join(', ') }}</dd>

        <dt class="col-sm-3">{{ 'model_image'|trans }}</dt>
        <dd class="col-sm-9"><img class="img-fluid" src="{{ path('testing.model_image', { 'model': model.id }) }}" alt="{{ 'model_image'|trans }}"></dd>

        <dt class="col-sm-3">{{ 'created_at'|trans }}</dt>
        <dd class="col-sm-9">{{ model.createdAt|date("Y-m-d") }}</dd>

        <dt class="col-sm-3">{{ 'updated_at'|trans }}</dt>
        <dd class="col-sm-9">{{ model.updatedAt|date("Y-m-d") }}</dd>
    </dl>
{% endblock %}
