{# Template Parts #}
{% extends "admin/layout/base.html.twig" %}
{% block head_title %}{{ title('testing.model_list_title'|trans) }}{% endblock %}
{% block content_title %}
    <i class="fas fa-project-diagram"></i>{{ 'testing.model_list_title'|trans }}

    {% if is_granted('ROLE_MODEL_BUILD') %}
        <a href="{{ path('testing.model_build') }}" class="ms-3 clear-line-height btn btn-sm btn-primary"><i class="fas fa-hammer"></i>{{ 'testing.model_build_title'|trans }}</a>
    {% endif %}

    {% if is_granted('ROLE_MODEL_IMPORT') %}
        <a href="{{ path('testing.model_import') }}" class="ms-3 clear-line-height btn btn-sm btn-secondary"><i class="fas fa-upload"></i>{{ 'testing.model_import_title'|trans }}</a>
    {% endif %}
{% endblock %}

{# Content Body #}
{% block content_body %}
    <content-menu>{{ pd_menu_render('App\\Menu\\NavModel') }}</content-menu>

    <datatable
        data-api="{{ url('testing.model_list') }}"
        data-column="{{ table.columnsJson|url_encode }}"
        data-sort-api="{{ url('admin.data_table') }}"
        data-sort-table="{{ table.name }}"
        sort-field="m.id"
        :exporter="true"
    >
        <template v-slot:actions="{item, index, remove}">
            {% if is_granted('ROLE_MODEL_EXPORT') %}
                <li><a class="dropdown-item"
                       :href="route('{{ route('testing.model_export') }}', {'{model}': item.id})" target="_blank"><i
                            class="fas fa-file-download"></i>{{ 'testing.export'|trans }}</a></li>
            {% endif %}

            {% if is_granted('ROLE_MODEL_EDIT') %}
                <li><a class="dropdown-item"
                       :href="route('{{ route('testing.model_edit') }}', {'{model}': item.id})"><i
                            class="fas fa-edit"></i>{{ 'button.edit'|trans }}</a></li>
            {% endif %}

            {% if is_granted('ROLE_MODEL_DELETE') %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-danger" v-confirm="'danger'" data-msg="{{ 'confirm.delete'|trans }}"
                       data-yes="{{ 'button.yes'|trans }}" data-no="{{ 'button.cancel'|trans }}"
                       @confirmed="del(item, index, remove)"><i class="fas fa-trash"></i>{{ 'button.delete'|trans }}</a>
                </li>
            {% endif %}

        </template>
    </datatable>

    <script data-type="vue">
        window.vueApp.push({
            methods: {
                del(item, index, remove) {
                    this.$root.http.delete(this.route('{{ route('testing.model_delete') }}', {'{model}': item.id})).then(function (resp) {
                        remove(index);
                    })
                }
            }
        })
    </script>
{% endblock %}
