{# Template Parts #}
{% extends "Admin/base.html.twig" %}

{# Document #}
{% block head_title %}{{ title(page_title|trans) }}{% endblock %}

{# Content Title #}
{% block content_head %}
    <span class="text">{{ page_title|trans }}</span>
    <span class="desc">{{ page_description|trans }}</span>
{% endblock %}

{# Content Body #}
{% block content_body %}
    <div class="content-form">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.modelRevision) }}

        <div class="form-group row">
            <div class="col-md-4 col-sm-4 col-xs-12 text-sm-right col-form-label"></div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div id="accordion" class="accordion accordion-menu mb-3" role="tablist">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-target="#selenium-config" href="#">{{ 'task_selenium_config'|trans }}</a></h4>
                        </div>
                        <div id="selenium-config" data-parent="#accordion" class="panel-collapse collapse">
                            <div class="panel-content">
                                {{ form_errors(form.seleniumConfig) }}
                                {{ form_widget(form.seleniumConfig) }}
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-target="#task-config" href="#">{{ 'task_task_config'|trans }}</a></h4>
                        </div>
                        <div id="task-config" data-parent="#accordion" class="panel-collapse collapse">
                            <div class="panel-content">
                                {{ form_errors(form.taskConfig) }}
                                {{ form_widget(form.taskConfig) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('page/task.js', 'admin') }}"></script>
{% endblock %}
