{# Template Parts #}
{% extends "Admin/base.html.twig" %}

{# Document #}
{% block head_title %}{{ title('testing_bug_view_title'|trans) }}{% endblock %}

{# Content Title #}
{% block content_head %}
    <span class="text">{{ 'testing_bug_view_title'|trans }}</span>
    <span class="desc">{{ 'testing_bug_view_desc'|trans }}</span>
{% endblock %}

{# Content Body #}
{% block content_body %}
    <dl class="row">
        <dt class="col-sm-3">{{ 'bug_title'|trans }}</dt>
        <dd class="col-sm-9">{{ bug.title }}</dd>

        <dt class="col-sm-3">{{ 'bug_task'|trans }}</dt>
        <dd class="col-sm-9"><a href="{{ path('admin_task_view', { 'task': bug.task.id }) }}">{{ bug.task.title }}</a></dd>

        <dt class="col-sm-3">{{ 'bug_model'|trans }}</dt>
        <dd class="col-sm-9">
            <a href="{{ path('admin_model_view', { 'model': bug.task.modelRevision.model.id }) }}">
                {{ bug.task.modelRevision.model.label }}
                {% if bug.task.modelRevision.id is not same as(bug.task.modelRevision.model.activeRevision.id) %}
                    <span class="badge badge-warning">{{ 'outdated'|trans }}</span>
                {% endif %}
            </a>
        </dd>

        <dt class="col-sm-3 text-truncate">{{ 'message'|trans }}</dt>
        <dd class="col-sm-9">{{ bug.message }}</dd>

        <dt class="col-sm-3">{{ 'progress'|trans }}</dt>
        <dd class="col-sm-9">{{ ((bug.progress.total > 0) ? bug.progress.processed / bug.progress.total : 0) |format_number(style='percent') }}</dd>

        <dt class="col-sm-3">{{ 'status'|trans }}</dt>
        <dd class="col-sm-9">{{ (bug.closed ? 'bug_closed' : 'bug_open')|trans }}</dd>

        <dt class="col-sm-3">{{ 'created_at'|trans }}</dt>
        <dd class="col-sm-9">{{ bug.createdAt|date("Y-m-d") }}</dd>

        <dt class="col-sm-3">{{ 'updated_at'|trans }}</dt>
        <dd class="col-sm-9">{{ bug.updatedAt|date("Y-m-d") }}</dd>

        <dt class="col-sm-3">{{ 'steps'|trans }}</dt>
        <dd class="col-sm-9">
            {% if steps is not defined %}
                {{ 'steps_invalid'|trans }}
            {% else %}
                <table class="table steps-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{ 'transition'|trans }}</th>
                            <th scope="col">{{ 'places'|trans }}</th>
                            <th scope="col">{{ 'variables'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, step in steps %}
                            <tr>
                                <th scope="row">{{ key + 1 }}</th>
                                <td>{{ step.transition }}</td>
                                <td>
                                    {% if step.places|length > 1 %}
                                        <ul>
                                            {% for place in step.places %}
                                                <li>{{ place }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        {{ step.places|first }}
                                    {% endif %}
                                </td>
                                <td>
                                    <ul class="text-left">
                                        {% for key, value in step.color %}
                                            <li>{{ key }}: {{ value }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </dd>

        <dt class="col-sm-3">{{ 'bug_video'|trans }}</dt>
        <dd class="col-sm-9">
            <video width="100%" controls>
                <source src="{{ path('admin_bug_video', { 'bug': bug.id }) }}">
                Your browser does not support the video tag.
            </video>
        </dd>
    </dl>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('page/bug.css', 'admin') }}">
{% endblock %}
