{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block head_stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
    {{ parent() }}
{% endblock %}

{% block head_javascript %}
    {{ encore_entry_script_tags('dashboard') }}
    {{ parent() }}
{% endblock %}

{% block main %}
    <main>

        <div class="content">
            <div class="row">
                <div class="col-md-12 page-header">
                    <h2 class="page-title">Dashboard</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="dfd text-center">
                                    <i class="blue large-icon mb-2 fas fa-bug"></i>
                                    <h4 class="mb-0">{{ bugs }}</h4>
                                    <p class="text-muted">TOTAL BUGS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="dfd text-center">
                                    <i class="orange large-icon mb-2 fas fa-tasks"></i>
                                    <h4 class="mb-0">{{ tasks }}</h4>
                                    <p class="text-muted">TOTAL TASKS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="dfd text-center">
                                    <i class="grey large-icon mb-2 fas fa-project-diagram"></i>
                                    <h4 class="mb-0">{{ models }}</h4>
                                    <p class="text-muted">TOTAL MODELS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="dfd text-center">
                                    <i class="olive large-icon mb-2 fas fa-users"></i>
                                    <h4 class="mb-0">{{ users }}</h4>
                                    <p class="text-muted">TOTAL USERS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="content">
                            <div class="head">
                                <h5 class="mb-0">Overview</h5>
                                <p class="text-muted">Tasks, bugs and models created in the last 12 days</p>
                            </div>
                            <div class="canvas-wrapper">
                                {{ render_chart(overviewChart) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" data-controller="sessions">
                    <div class="card">
                        <div class="content">
                            <div class="head">
                                <h5 class="mb-0">Sessions</h5>
                                <p class="text-muted">Sessions created in the last 30 seconds</p>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <div class="card">
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="icon-big text-center">
                                                        <i class="teal fas fa-box-open"></i>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="detail">
                                                        <p class="detail-subtitle">Total</p>
                                                        <span class="number" data-sessions-target="total">{{ sessions.total }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <div class="card">
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="icon-big text-center">
                                                        <i class="olive fas fa-hammer"></i>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="detail">
                                                        <p class="detail-subtitle">Used</p>
                                                        <span class="number" data-sessions-target="used">{{ sessions.used }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <div class="card">
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="icon-big text-center">
                                                        <i class="violet fas fa-clock"></i>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="detail">
                                                        <p class="detail-subtitle">Queued</p>
                                                        <span class="number" data-sessions-target="queued">{{ sessions.queued }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <div class="card">
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="icon-big text-center">
                                                        <i class="orange fas fa-hourglass-half"></i>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="detail">
                                                        <p class="detail-subtitle">Pending</p>
                                                        <span class="number" data-sessions-target="pending">{{ sessions.pending }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="canvas-wrapper">
                                {{ render_chart(sessionChart, {'class': 'session-chart'}) }}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="head">
                                <h5 class="mb-0">Sessions</h5>
                                <p class="text-muted">Current browser session data</p>
                            </div>
                            <div class="canvas-wrapper">
                                <table class="table table-striped">
                                    <thead class="success">
                                    <tr>
                                        <th>Browser</th>
                                        <th class="text-end">Total Sessions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for session in sessions.sessions %}
                                        <tr>
                                            <td><i class="{{ session.icon }}"></i> {{ session.browser }}</td>
                                            <td class="text-end" id="{{ session.id }}">{{ session.count }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
